#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define MEH LC(LS(LALT))
#define HYPER LC(LS(LA(LGUI)))

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
};

#define MACRO(name, keys)                 \
name: name##_macro {                      \
    label          = #name;               \
    compatible     = "zmk,behavior-macro";\
    tap-ms         = <40>;                \
    wait-ms        = <40>;                \
    #binding-cells = <0>;                 \
    bindings       = <keys>;              \
};

/ {
    macros {
        MACRO(vim_q,  &kp COLON &kp Q &kp EXCL)
        MACRO(vim_s,  &kp COLON &kp X)
        MACRO(dir_up, &kp DOT &kp DOT &kp FSLH)
    };
};

/ {
    behaviors {
        HRM: HRM {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <190>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47>;
            hold-trigger-on-release;
        };

        HMLT: HMLT {
            compatible = "zmk,behavior-hold-tap";
            label = "HMLT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <190>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47>;
        };

        HMLT2: HMLT2 {
            compatible = "zmk,behavior-hold-tap";
            label = "HMLT2";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <215>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q        &kp W        &kp E         &kp R              &kp T      &kp CAPSLOCK    &kp F18        &kp Y              &kp U          &kp I         &kp O        &kp P
&HRM LGUI A  &HRM LALT S  &HRM LCTRL D  &HRM LEFT_SHIFT F  &kp G      &trans          &trans         &kp H              &HRM LSHIFT J  &HRM LCTRL K  &HRM LALT L  &HRM LCMD SEMI
&kp Z        &kp X        &kp C         &kp V              &kp B      &trans          &trans         &kp N              &kp M          &kp COMMA     &kp DOT      &kp FSLH
&trans       &trans       &trans        &trans             &kp SPACE  &HMLT 4 TAB     &HMLT 4 ENTER  &HMLT 4 BACKSPACE  &trans         &trans        &trans       &trans
            >;
        };

        lower_layer {
            bindings = <
&kp TILDE      &kp N1     &kp N2    &kp N3    &kp N4      &kp N5       &kp N6     &kp N7     &kp N8           &kp N9    &kp N0    &kp BSLH
&kp GRAVE      &kp EXCL   &kp AT    &kp HASH  &kp DOLLAR  &kp PRCNT    &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp TILDE
&trans         &kp F1     &kp F2    &kp F3    &kp F4      &kp F5       &kp PLUS   &kp MINUS  &kp EQUAL        &kp LBKT  &kp RBKT  &kp PIPE
&kp C_AL_LOCK  &kp LCTRL  &kp LALT  &kp LGUI  &trans      &kp BSPC     &kp UNDER  &trans     &kp LEFT         &kp DOWN  &kp UP    &kp RIGHT
            >;
        };

        upper_layer {
            bindings = <
&none          &none      &none     &kp LBKT  &kp RBKT  &none       &none   &kp LC(LEFT)  &kp PG_DN  &kp PG_UP  &kp LC(RIGHT)  &kp DELETE
&none          &none      &none     &kp LPAR  &kp RPAR  &none       &none   &kp LEFT      &kp DOWN   &kp UP     &kp RIGHT      &none
&trans         &none      &none     &kp LBRC  &kp RBRC  &none       &none   &kp LC(FSLH)  &kp HOME   &kp END    &kp LC(F)      &kp LS(RET)
&kp C_AL_LOCK  &kp LCTRL  &kp LALT  &kp LGUI  &trans    &kp BSPC    &trans  &trans        &kp LEFT   &kp DOWN   &kp UP         &kp RIGHT
            >;
        };

        adjust_layer {
            bindings = <
&none        &kp LC(LS(LA(Q)))  &kp LC(LS(LA(W)))  &kp LC(LS(LA(E)))  &kp LC(LS(LA(R)))  &kp LC(LS(LA(T)))    &kp LC(LS(LA(Y)))  &kp LC(LS(LA(U)))  &kp LC(LS(LA(I)))      &kp LC(LS(LA(O)))    &kp LC(LS(LA(P)))     &kp LC(LS(LA(BSPC)))
&none        &kp LC(LS(LA(A)))  &kp LC(LS(LA(S)))  &kp LC(LS(LA(D)))  &kp LC(LS(LA(F)))  &kp LC(LS(LA(G)))    &kp LC(LS(LA(H)))  &kp LC(LS(LA(J)))  &kp LC(LS(LA(K)))      &kp LC(LS(LA(L)))    &kp LC(LS(LA(SEMI)))  &kp LC(LS(LA(SQT)))
&none        &kp LC(LS(LA(Z)))  &kp LC(LS(LA(X)))  &kp LC(LS(LA(C)))  &kp LC(LS(LA(V)))  &kp LC(LS(LA(B)))    &kp LC(LS(LA(N)))  &kp LC(LS(LA(M)))  &kp LC(LS(LA(COMMA)))  &kp LC(LS(LA(DOT)))  &kp LC(LS(LA(FSLH)))  &kp LC(LS(LA(RET)))
&bootloader  &kp LCTRL          &kp LALT           &kp LGUI           &trans             &trans               &trans             &trans             &none                  &none                &none                 &bootloader
            >;
        };

        layer_4 {
            bindings = <
&bootloader  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &bootloader
&trans       &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans       &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans       &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
